.git
.github
.env
.env.*
!.env.example
backups
backups/**
**/.env
**/.env.*
!**/.env.example
**/backups
**/backups/**
**/node_modules
**/node_modules/**
**/storage
**/storage/**
**/vendor
**/vendor/**
**/bootstrap/cache
**/bootstrap/cache/**
**/public/build
**/public/build/**
